# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.pyc

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/create-tftf
bin/display-tftf
bin/sign-tftf
bin/create-ffff
bin/display-ffff
ftdi/haps_test
ftdi/spirom_write
es3-test/s1fw
bin
obj

# Output files
*.bin
*.ffff
*.tftf
*.map

# Misc files
git-commit-template
.cproject
.project
.settings
.gitignore
.pydevproject
*~

# Debug files
*.dSYM/
